In [1]:
import pandas as pd
import numpy as np

In [2]:
source_file_ranges = '../data/01_raw/ranges_features_dataset.csv'
source_file_features = '../data/01_raw/20221022_ted_cleaned_features_unique_id.xlsx'
dest_filepath = '../data/01_raw/20221028_jb_features_type.csv'

In [3]:
###load data###
ranges = pd.read_csv(source_file_ranges)
features = pd.read_excel(source_file_features)
features

,unique_id,feature_name,feature_names_model,feature_single_spaces
0,1,adres_dagen_op_adres,adres_dagen_op_adres,adres dagen op adres
1,2,adres_aantal_verschillende_wijken,adres_aantal_verschillende_wijken,adres aantal verschillende wijken
2,3,adres_recentst_onderdeel_rdam,adres_recentst_onderdeel_rdam,adres recentst onderdeel rdam
3,4,adres_unieke_wijk_ratio,adres_unieke_wijk_ratio,adres unieke wijk ratio
4,5,adres_aantal_brp_adres,adres_aantal_brp_adres,adres aantal brp adres
...,...,...,...,...
310,311,instrument_reden_beeindiging_historie_succesvol,instrument_reden_beeindiging_historie_succesvol,instrument reden beeindiging historie succesvol
311,312,instrument_reden_beeindiging_historie_succesvo...,instrument_reden_beeindiging_historie_succesvo...,instrument reden beeindiging historie succesvo...
312,313,instrument_reden_beeindiging_historie_uitval__...,instrument_reden_beeindiging_historie_uitval__...,instrument reden beeindiging historie uitval a...
313,314,instrument_reden_beeindiging_historie_uitval__...,instrument_reden_beeindiging_historie_uitval__...,instrument reden beeindiging historie uitval k...
314,315,instrument_aantal_laatstejaar,instrument_aantal_laatstejaar,instrument aantal laatstejaar

In [4]:
#set up data type lists
categoricals = ['persoonlijke_eigenschappen_uitstroom_verw_vlgs_klant', 'persoonlijke_eigenschappen_uitstroom_verw_vlgs_km',
               'persoonlijke_eigenschappen_taaleis_voldaan', 'persoonlijke_eigenschappen_spreektaal']
floats = ['adres_unieke_wijk_ratio']
bools = list(ranges.loc[(ranges['unique_values']==2), 'feature_name'])

In [5]:
#set up defaults
features['type'] = 'numerical'
features['subtype'] = 'integer'

In [6]:
#change type and subtype where appropriate
features['type'] =  np.where(features['feature_name'].isin(categoricals), 'categorical',features['type'])
features['subtype'] =  np.where(features['feature_name'].isin(categoricals), 'categorical',features['subtype'])
features['subtype'] =  np.where(features['feature_name'].isin(floats), 'float',features['subtype'])
features['type'] =  np.where(features['feature_name'].isin(bools), 'boolean',features['type'])
features['subtype'] =  np.where(features['feature_name'].isin(bools), 'boolean',features['subtype'])
features

,unique_id,feature_name,feature_names_model,feature_single_spaces,type,subtype
0,1,adres_dagen_op_adres,adres_dagen_op_adres,adres dagen op adres,numerical,integer
1,2,adres_aantal_verschillende_wijken,adres_aantal_verschillende_wijken,adres aantal verschillende wijken,numerical,integer
2,3,adres_recentst_onderdeel_rdam,adres_recentst_onderdeel_rdam,adres recentst onderdeel rdam,boolean,boolean
3,4,adres_unieke_wijk_ratio,adres_unieke_wijk_ratio,adres unieke wijk ratio,numerical,float
4,5,adres_aantal_brp_adres,adres_aantal_brp_adres,adres aantal brp adres,numerical,integer
...,...,...,...,...,...,...
310,311,instrument_reden_beeindiging_historie_succesvol,instrument_reden_beeindiging_historie_succesvol,instrument reden beeindiging historie succesvol,numerical,integer
311,312,instrument_reden_beeindiging_historie_succesvo...,instrument_reden_beeindiging_historie_succesvo...,instrument reden beeindiging historie succesvo...,numerical,integer
312,313,instrument_reden_beeindiging_historie_uitval__...,instrument_reden_beeindiging_historie_uitval__...,instrument reden beeindiging historie uitval a...,numerical,integer
313,314,instrument_reden_beeindiging_historie_uitval__...,instrument_reden_beeindiging_historie_uitval__...,instrument reden beeindiging historie uitval k...,numerical,integer
314,315,instrument_aantal_laatstejaar,instrument_aantal_laatstejaar,instrument aantal laatstejaar,numerical,integer

In [7]:
features.to_csv(dest_filepath, index=False)